* {
  box-sizing: border-box;
}

.nav-container {
  width: 100%;
}

.navbar {
  width: 80%;
  margin: 0 auto;
  background-color: var(--navBar);
  margin-top: 1.5em;
  box-shadow: 0px 19px 55px #00000014;
  border-radius: 62px;
}

.content-container {
  padding: 0.8em;
}
.me-auto {
  margin: 0 auto;
  margin-top: 0.5em;
  gap: 1em;
}
.me-auto .dot {
  width: 6px;
  height: 6px;
  background: #356dff;
  border-radius: 50%;
  margin-top: 40px;
  opacity: 0;
}

.li {
  color:var(--darkBlue_primary_transpent) !important;
  font-weight: 400 !important;
}
.li:focus {
  color:var(--darkBlue_primary) !important;
  font-weight: 600 !important;
}

#basic-nav-dropdown{
  color:var(--darkBlue_primary_transpent) !important;
  font-weight: 400 !important;
}


#basic-nav-dropdown:focus {
  color:var(--darkBlue_primary) !important;
  font-weight: 600 !important;
}

.me-auto .li:nth-child(1):hover ~ .dot {
  transform: translateX(-432px);
  opacity: 1;
}
.me-auto .li:nth-child(1):focus ~ .dot {
  transform: translateX(-432px);
  opacity: 1;
}
.me-auto .li:nth-child(2):hover ~ .dot {
  transform: translateX(-347px);
  opacity: 1;
}
.me-auto .li:nth-child(3):hover ~ .dot {
  transform: translateX(-241px);
  opacity: 1;
}
.me-auto .li:nth-child(4):hover ~ .dot {
  transform: translateX(-147px);
  opacity: 1;
}
.me-auto .li:nth-child(4):focus ~ .dot {
  transform: translateX(-147px);
  opacity: 1;
}
.me-auto .li:nth-child(5):hover~ .dot {
  transform: translateX(-60px);
  opacity: 1;
}
.me-auto .li:nth-child(5):focus ~ .dot {
  transform: translateX(-60px);
  opacity: 1;
}

.btns-container {
  margin-right: 1em;
}

button {

  padding: 0.8em 1.5em;
 
}

.secondary-btn {
  margin: 0em 0.5em;
  color:var(--darkBlue_primary);
  background-color:var(--navBar) ;
  border: #ececec solid 2px;
  border-radius: 43px;
}
.secondary-btn:hover {

  background-color: #ececec;
 
 
  transition: 0.3s;
}

.primary-btn {
  margin: 0em 0.5em;
  color: #ffffff;
  background-color: #0b0d39;
  border: #0b0d39 solid 2px;
  border-radius: 43px;
}

.primary-btn:hover {
 
  
  background-color: #040518;
 
  transition: 0.3s;
}

@media only screen and (max-width: 1262px) {
  button {
    
  
    padding: 0.8em 0.8em;
   
  }


  .secondary-btn {
    margin: 0em 0.3em;
    
  }
  .primary-btn {
    margin: 0em 0.3em;
  }
  
}

@media only screen and (max-width: 1200px) {} 
